%html
  %head
    /%link{ src: '' }
    :css
      body {
        padding: 2em;
        background-color: #272727;
      }
      .header {
        margin: 20px;
        text-align: center;
        font-size: 60px;
        color: #D4D4D4;
      }

      .button {
        background-color: #616161;
        padding: 3px 52px;
        color: #D4D4D4;
        margin: .5em 40%;
        display: inline-block;
        border: #272727;
        font-size: 1em;
        border-radius: 1em;
        width: initial;
      }
      textarea {
        background-color: #636363;
        color: #FFF;
        width: 80%;
        height: 30%;
        display: block;
        margin: auto;
      }
    /%script{ src: '' }
    :javascript
      $('.js-convert').click(function() {
        var html = $('.html').text();
        $.post({
          url: '/convert',
          data: { html: html },
          success: function(hamlData) {
            $('.haml').text(hamlData.haml);
          },
          error: {
          //  Display an error;
          }
        });
      });
  %body
    .header Html(.erb) to Haml converter
    %textarea.html{ placeholder: 'Type your html content here' }
    %a.button.js-convert Convert
    %textarea.haml{ disabled: 'disabled' }
