%html
  %head
    %link{ rel: 'stylesheet', href: url('css/application.css') }
    %script{ src: 'https://code.jquery.com/jquery-2.2.3.min.js',
             integrity: 'sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin: 'anonymous' }
    %script{ src: url('javascript/application.js') }
  %body
    .header Html(.erb) to Haml converter
    %textarea.html{ placeholder: 'Type your html content here' }
    %a.button.js-convert Convert
    %textarea.haml{ disabled: 'disabled' }
